.commentsList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.commentsList .commentsList,
.commentsList form  {
  margin-left: 20px;
}

@media all and (min-width: 1024px) {
  .commentsList {
    row-gap: 35px;
  }
}